name: 'Semver Release'
description: 'Automatically create Semver compliant tags or releases based on PR labels'
author: 'Kévin Gomez'

branding:
  icon: 'tag'
  color: 'green'

inputs:
  release_branch:
    description: 'Branch to tag'
    required: true
    default: master

  release_strategy:
    description: 'Release strategy'
    required: true
    default: release

  tag:
    description: 'Tag to use'
    required: false

  default_version:
    description: 'Which version to use when there are no labels'
    required: false

outputs:
  tag:
    description: 'The newly created tag'

runs:
  using: 'docker'
  image: 'docker://kphoen/semver-release-action:**VERSION_PLACEHOLDER**'
  args:
    - ${{ inputs.release_branch }}
    - ${{ inputs.release_strategy }}
    - ${{ inputs.tag }}
    - ${{ inputs.default_version }}
